<div class="container">
  <a href="./"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
  <h1>{{title}}</h1>

  {{#if item.prices}}
    <table class="table">
      <thead>
        <tr>
          <th>Unit</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#item.prices}}
          <tr>
            <td>{{this.unit}}</td>
            <td>${{this.price}}</td>
            <td class="text-right"><a href="/menu-items/delete/{{this._id}}" class="btn btn-danger glyphicon glyphicon-trash"></a></td>
          </tr>
        {{/item.prices}}
      </tbody>
    </table>
    
    <hr>
  {{/if}}


  <form action="./prices" method="POST" class="form-horizontal" role="form">
    <legend>{{formTitle}}</legend>

    <div class="form-group">
      <label for="input-unit" class="col-sm-2 control-label">Unit</label>
      <div class="col-sm-10">
        <input type="text" id="input-unit" name="unit" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="input-price" class="col-sm-2 control-label">Price</label>
      <div class="col-sm-10">
        <input type="number" id="input-price" name="price" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>