<div class="container">

  <h1>{{title}}</h1>

  {{#if items}}
    <h2>{{title}}</h2>
    <div id="sortable">
      {{#items}}
        {{#if this.isActive}}
          <dl class="drag-item" draggable="true">
            <dt><a href="/menu-items/edit/{{this._id}}">{{this.name}}</a> 
              <span class="pull-right">
                {{#this.prices}}
                  ${{this.price}} {{this.measurement}}
                {{/this.prices}}
              </span>
            </dt>
            <dd>{{this.description}} <br>
              <em>{{this.notes}}</em>
            </dd>
          </dl>
        {{/if}}
      {{/items}}
    </div>

    {{#items}}
      {{#unless this.isActive}}
        <dl class="inactive">
          <dt><s><a href="/menu-items/edit/{{this._id}}">{{this.name}}</a></s>
            <span class="pull-right">
              {{#this.prices}}
                ${{this.price}} {{this.measurement}}
              {{/this.prices}}
            </span>
          </dt>
          <dd>{{this.description}} 
            <a href="/menu-items/delete/{{this._id}}" class="btn btn-danger glyphicon glyphicon-trash pull-right"></a><br>
            <em>{{this.notes}}</em>
          </dd>
        </dl>
      {{/unless}}
    {{/items}}
  {{/if}}

  <form action="/menu-item" method="POST" class="form-horizontal" role="form">
    <legend>{{formTitle}}</legend>

    <div class="form-group">
      <label for="input-name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" id="input-name" name="name" class="form-control">
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="input-section" class="col-sm-2 control-label">Section</label>
      <div class="col-sm-10">
        <input type="text" id="input-section" name="section" class="form-control">
      </div>
    </div> -->

    <div class="form-group">
      <label for="input-description" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <input type="text" id="input-description" name="description" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="input-notes" class="col-sm-2 control-label">Notes</label>
      <div class="col-sm-10">
        <input type="text" id="input-notes" name="notes" class="form-control">
      </div>
    </div>

    <hr>
    <div class="form-group">
      <label for="input-measurement" class="col-sm-2 control-label">Measurement</label>
      <div class="col-sm-10">
        <input type="text" id="input-measurement" name="measurement" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="input-price" class="col-sm-2 control-label">Price</label>
      <div class="col-sm-10">
        <input type="text" id="input-price" name="price" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>

</div>

<h1>Debug</h1>
{{items}}

<script>
  
</script>